extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        include _sidebar
      
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Manage Reviews
          
          .table-container
           
            table.admin-table.table--reviews
              thead
                tr
                  th User
                  th Tour
                  th Review
                  th Rating
                  th Actions
              tbody
                each review in reviews
                  tr
                    td
                      if review.user
                        img.nav__user-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
                        span= review.user.name
                      else
                        span Mohamed
                    td
                      if review.tour
                        span= review.tour.name
                      else
                        span Deleted Tour
                    td(title=review.review)= review.review
                    td
                      each star in [1,2,3,4,5]
                        svg.reviews__star(class=`reviews__star--${review.rating>=star ? 'active' : 'inactice'}`)
                          use(xlink:href='/img/icons.svg#icon-star')
                    td
                      button.btn--delete.btn--delete-review(data-review-id=`${review.id}`) Delete