extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        include _sidebar
      
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md My Reviews
          
          .table-container
            table.admin-table.table--my-reviews
              thead
                tr
                  th User
                  th Review
                  th Rating
                  th Actions
              tbody
                if reviews.length === 0
                  tr
                    td(colspan="4" style="text-align:center;") You haven't written any reviews yet.
                else
                  each review in reviews
                    tr
                      td(style="text-align:center;")
                        if review.user
                          img.nav__user-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
                          div(style="margin-top:5px;")= review.user.name
                        else
                          span Deleted User
                      
                      td= review.review
                      
                      td(style="text-align:center;")= review.rating
                      
                      td(style="text-align:center;")
                        button.btn-text.btn--edit-review(
                          data-review-id=`${review.id}`
                          data-review-text=`${review.review}`
                          data-review-rating=`${review.rating}`
                        ) Edit
                        button.btn-text.btn--delete-review(data-review-id=`${review.id}`) Delete

  .modal.modal--edit-review.hidden
    .modal__content
      h2.heading-secondary Edit Review
      form.form.form--edit-review-admin
        .form__group
          label.form__label(for='admin-edit-rating') Rating
          input#admin-edit-rating.form__input(type='number', min='1', max='5', required)
        .form__group
          label.form__label(for='admin-edit-text') Review
          textarea#admin-edit-text.form__input(rows='3', required)
        
        input#admin-edit-review-id(type='hidden')

        .form__group
          button.btn.btn--green Save Changes
          button.btn.btn--white.btn--close-modal-review(type='button') Cancel

  style.
    .modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 2000; display: flex; justify-content: center; align-items: center; }
    .hidden { display: none; }
    .modal__content { background-color: white; padding: 4rem; border-radius: 5px; width: 50rem; max-width: 90%; }